#skills > div {
  display: grid;
}

@media (max-width: 1024px) {
  #skills > div {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 640px) {
  #skills > div {
    grid-template-columns: 1fr !important;
  }
}
